@use "../../styles/mixins" as mixins;

.select {
  display: flex;
  width: 100%;
  min-width: 0;
  min-height: 2rem;
  appearance: none;
  background-position: right 0.625rem center;
  padding: 0.375rem 2rem 0.375rem 0.625rem;

  @include mixins.field-control-surface;
}

