.label {
  display: inline-block;
  color: var(--foreground);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding-top: 0.0625rem;
  user-select: none;

  > span,
  > a,
  :global([data-slot="text"]) {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}

:global(.group[data-disabled="true"]) .label {
  pointer-events: none;
  opacity: 0.5;
}

:global(.peer:disabled) ~ .label {
  cursor: not-allowed;
  opacity: 0.5;
}

